<div class="MessageList" id="MessageList">
    @if (messages.Count >= 1) {
        @foreach (Message message in messages)
        {
            @if (message.Poster == "Вы")
             {
                <div class="MessageRight">
                    <div class="MessageFromUser">@message.TextMessage</div>
                </div>
             }
             else
             {    
                <div class="MessageLeft">
                    <div class="MessageFromSystem">@message.TextMessage</div>
                </div>
             }            
        }
    }
</div>

@code {
    [Parameter] public List<Message> messages { get; set; }
}
