@page "/"

<div class="boxEnterWord">
    <h3>Введите Вашу догадку:</h3>
    <input type="text" @bind="@userWord" />
    <button class="btn-success" @onclick="CheckCurrentWord">Отправить</button>
</div>
<MessageList messages="messages"/>


@code{
    private string userWord;
    List<Message> messages = new List<Message>();
    SystemGuess system = new SystemGuess();
    Message message;
    string systemWord = "Кукис";


    private void CheckCurrentWord()
    {
        message = new Message();
        message.Add("Вы", $"{userWord}");
        messages.Add(message);
        if (Convert.ToBoolean(String.Compare(userWord, systemWord)))
        {
            message = new Message();
            message.Add("Система", "Угадал");
        }
        else
        {
            message = new Message();
            message.Add("Система", "Не угадал");
        }
        messages.Add(message);

    }
}