@page "/"
@inject IJSRuntime JS
<MessageList messages="messages" />
<div class="boxEnterWord">
    <h3>Введите Вашу догадку:</h3>
    <input type="text" @bind="@UserWord" />
    <button class="btn-success" @onclick="CheckCurrentWord">Отправить</button>
</div>

@code{
    private string userWord = "";
    public string UserWord { get { return userWord; } set { userWord = String.IsNullOrEmpty(value) ? "Введите слово" : value.Replace(" ",""); } }

    List<Message> messages = new List<Message>();
    SystemGuess systemGuess = new SystemGuess();

    private async void CheckCurrentWord()
    {
        messages.Add(new Message { Poster = "Вы", TextMessage = UserWord });

        if (!String.IsNullOrEmpty(UserWord))
        {
            messages.Add(new Message { Poster = "Система", TextMessage = systemGuess.Check(UserWord) });
        }
        await JS.InvokeVoidAsync("scrollMessageList");
    }

}